client/node_modules/
server/node_modules/

client/build
server/build

#scripts
client/src/scripts/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

# vercel
.vercel